---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Article from '../components/Article.astro'
import { getDirectusClient } from '../utils/get-directus-client'
import { formatRelativeTime } from '../../../shared/utils/format-relative-time'

const directus = await getDirectusClient()
const response = await directus.items("articles").readByQuery({
  fields: ["*", "author.avatar", "author.first_name", "author.last_name"],
  sort: "-publish_date",
})
const formattedArticles = response.data.map((article) => {
  return {
    ...article,
    publish_date: formatRelativeTime(new Date(article.publish_date)),
  }
})
const [hero, ...articles] = formattedArticles
---

<DefaultLayout>
  <main>
    <section class="main-content">
      <div class="container">
        <Hero article={hero} />
        <div class="articles-grid">
          {articles.map((article, index) => (
          <Article article={article} bordered={index !==articles.length - 1} />
          ))}
        </div>
      </div>
    </section>
  </main>
</DefaultLayout>