:root {
  --family-serif: "DM Serif Display", serif;
  --family-sans-serif: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --foreground-accent: #172940;
  --foreground-subdued: #a2b5cd;
  --foreground-inverted: #ffffff;
  --background-accent: #e4eaf1;
  --background-accent-10: #e4eaf126;
  --background-accent-50: #e4eaf188;
  --background-subdued: #f0f4f9;
  --shadow: 0px 0px 10px rgba(23, 41, 64, 0.1);
}

body {
  font-family: var(--family-sans-serif);
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: var(--foreground-accent);
  font-weight: 500;
}

.main-content {
  margin-bottom: 100px;
}

section,
footer {
  padding: 0 16px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.notice {
  padding: 0 16px;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--foreground-accent);
}

.notice,
.notice a {
  color: var(--foreground-inverted);
}

.notice .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

header {
  z-index: 50;
  position: sticky;
  top: 0;
  padding: 0 16px;
  background-color: var(--foreground-inverted);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.header__description {
  color: var(--foreground-subdued);
  text-align: right;
}

@media (min-width: 640px) {
  .header__description {
    font-size: 18px;
    line-height: 28px;
  }
}

.header__description .accent {
  color: var(--foreground-accent);
}

.hero {
  margin-bottom: 16px;
  padding-bottom: 32px;
  border: 0 solid var(--background-accent);
  border-bottom-width: 1px;
}

@media (min-width: 640px) {
  .hero {
    margin-bottom: 32px;
  }
}

.hero__topWrapper,
.hero__title,
.hero__detail {
  margin-bottom: 16px;
}

.hero__topWrapper {
  position: relative;
}

.hero__imageWrapper {
  position: relative;
  padding-bottom: calc(8 / 16 * 100%);
  overflow: hidden;
  background-color: var(--background-accent);
}

.hero__imageWrapper img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__topWrapper .tag {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  background-color: var(--foreground-inverted);
  box-shadow: var(--shadow);
}

article h1 {
  margin: 0;
}

article h1 a {
  color: var(--foreground-accent);
  font-family: var(--family-serif);
  font-weight: 400;
  text-decoration: none;
}

.hero__title {
  font-size: 36px;
  line-height: 40px;
}

@media (min-width: 640px) {
  .hero__title {
    font-size: 64px;
    line-height: 60px;
  }
}

.hero__excerpt {
  display: none;
}

@media (min-width: 640px) {
  .hero__excerpt {
    display: inline-block;
    width: 60%;
  }
}

.hero__detail,
.article__detail {
  display: flex;
  align-items: center;
  color: var(--foreground-subdued);
}

.hero__detail {
  flex-shrink: 0;
}

.hero__detailAuthorImage {
  position: relative;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  margin-right: 16px;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--background-accent);
}

.hero__detailAuthorImage img,
.article__detailAuthor img {
  width: 100%;
  height: 100%;
}

.hero__detailAuthorName,
.article__detailInnerAuthor {
  font-weight: 600;
  color: var(--foreground-accent);
}

.hero__detailCategory {
  display: none;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
}

@media (min-width: 640px) {
  .articles-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
  }
}

.article {
  display: flex;
  padding-bottom: 16px;
}

@media (min-width: 640px) {
  .article {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.article.bordered {
  border: 0 solid var(--background-accent);
  border-bottom-width: 1px;
}

@media (min-width: 640px) {
  .article.bordered {
    border-bottom-width: 0;
  }
}

.article__topWrapper {
  position: relative;
  margin-right: 16px;
  width: 33.333333%;
}

@media (min-width: 640px) {
  .article__topWrapper {
    margin-right: 0;
    width: auto;
  }
}

.article__bottomWrapper {
  width: 66.666667%;
  padding: 16px 0;
}

@media (min-width: 640px) {
  .article__bottomWrapper {
    width: auto;
  }
}

.article__imageWrapper {
  overflow: hidden;
  height: 100%;
  background-color: var(--background-accent);
}

@media (min-width: 640px) {
  .article__imageWrapper {
    position: relative;
    padding-bottom: calc(9 / 16 * 100%);
    height: auto;
  }
}

.article__imageWrapper img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  .article__imageWrapper img {
    object-fit: cover;
    object-position: center;
  }
}

.article__topWrapper .tag {
  position: absolute;
  display: none;
  top: 16px;
  left: 16px;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  background-color: var(--foreground-inverted);
  box-shadow: var(--shadow);
}

@media (min-width: 640px) {
  .article__topWrapper .tag {
    display: block;
  }
}

.article__title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 640px) {
  .article__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.article__detail {
  display: flex;
  align-items: center;
}

.article__detailAuthor {
  position: relative;
  display: none;
  width: 52px;
  height: 52px;
  margin-right: 16px;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--background-accent);
}

@media (min-width: 640px) {
  .article__detailAuthor {
    display: block;
  }
}

.article__detailInner {
  display: flex;
  align-items: center;
  color: var(--foreground-subdued);
}

@media (min-width: 640px) {
  .article__detailInner {
    flex-direction: column;
    align-items: flex-start;
  }
}

.article__detailInnerAuthor {
  line-height: 24px;
}

.article__detailInnerTime {
  font-size: 14px;
  line-height: 20px;
}

.article__detailInnerAuthor,
.article__detailInnerTime {
  margin-right: 16px;
}

@media (min-width: 640px) {
  .article__detailInnerAuthor,
  .article__detailInnerTime {
    margin-right: 0;
  }
}

.article__detailInnerCategory {
  display: block;
}

@media (min-width: 640px) {
  .article__detailInnerCategory {
    display: none;
  }
}

.more-articles {
  margin-bottom: 80px;
}

.more-articles__title {
  padding-bottom: 8px;
  border: 0 solid var(--background-accent);
  border-bottom-width: 1px;
  font-size: 36px;
  line-height: 40px;
  font-family: var(--family-serif);
}

@media (min-width: 640px) {
  .more-articles__title {
    padding-bottom: 16px;
    font-size: 48px;
    line-height: 1;
  }
}

.info {
  position: relative;
  margin-top: auto;
}

.info__background {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 640px) {
  .info__background {
    display: flex;
  }
}

.info__backgroundLeft,
.info__backgroundRight {
  flex: 1 1 0%;
}

.info__backgroundLeft {
  background-color: var(--background-accent);
  margin-bottom: 16px;
}

@media (min-width: 640px) {
  .info__backgroundLeft {
    margin-bottom: 0;
  }
}

.info__backgroundRight {
  background-color: var(--background-subdued);
}

.info .container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

@media (min-width: 640px) {
  .info .container {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.info__wrapperOuter {
  display: flex;
  justify-content: center;
  padding: 80px 16px;
}

@media (min-width: 640px) {
  .info__wrapperOuter {
    flex: 1 1 0%;
    padding: 112px 32px;
  }
}

.info_wrapperInner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info__wrapperOuter.left {
  background-color: var(--background-accent);
  margin-bottom: 16px;
}

.info__wrapperOuter.right {
  background-color: var(--background-subdued);
}

@media (min-width: 640px) {
  .info__wrapperOuter.left {
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .info__wrapperOuter.right {
    justify-content: flex-end;
  }
}

.info__title {
  color: var(--foreground-accent);
  font-size: 30px;
  line-height: 36px;
  font-family: var(--family-serif);
  text-align: center;
  text-decoration: none;
}

@media (min-width: 640px) {
  .info__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.info__subtitle {
  opacity: 50%;
  color: var(--foreground-accent);
  font-size: 17px;
  line-height: 28px;
}

footer {
  overflow: hidden;
  background-color: var(--foreground-accent);
}

.footer__topWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  color: var(--foreground-inverted);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-family: var(--family-serif);
  text-align: center;
}

@media (min-width: 640px) {
  .footer__topWrapper {
    padding: 128px 0;
    font-size: 48px;
    line-height: 52px;
  }
}

.footer__topWrapper .underline {
  text-decoration: underline;
}

.footer__bottomWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  border: 0 solid var(--background-accent-10);
  border-top-width: 2px;
  color: var(--foreground-subdued);
}

@media (min-width: 640px) {
  .footer__bottomWrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.footer__copyright {
  order: 9999;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 640px) {
  .footer__copyright {
    order: 0;
  }
}

.footer__socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 32px 0;
  list-style-type: none;
}

@media (min-width: 640px) {
  .footer__socials {
    margin-bottom: 0;
  }
}

.footer__socials li + li {
  margin-left: 40px;
}

.footer__socials a {
  color: var(--foreground-subdued);
}

.current-article .container {
  padding-bottom: 16px;
}

.current-article__backlink {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--background-accent-50);
  color: var(--foreground-subdued);
  text-decoration: none;
}

@media (min-width: 640px) {
  .current-article__backlink {
    display: none;
  }
}

.current-article__backlink .icon {
  margin-right: 10px;
}

.current-article__title {
  margin: 20px 0;
  font-weight: 400;
  font-size: clamp(28px, 7vw, 96px);
  line-height: clamp(30px, 7vw, 90px);
  font-family: var(--family-serif);
}

@media (min-width: 1080px) {
  .current-article__title {
    font-size: 96px;
    line-height: 90px;
    margin: 80px 0 40px 0;
  }
}

.current-article__detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  overflow: hidden;
}

@media (min-width: 640px) {
  .current-article__detail {
    margin-bottom: 32px;
  }
}

.current-article__wrapperOuter {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

@media (min-width: 640px) {
  .current-article__wrapperOuter {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.current-article__wrapperInner {
  display: flex;
  align-items: center;
}

.current-article__authorImage {
  position: relative;
  width: 52px;
  height: 52px;
  margin-right: 16px;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--background-accent);
}

.current-article__authorImage img {
  height: 100%;
  width: 100%;
}

.current-article__authorName {
  font-weight: 600;
  line-height: 24px;
}

.current-article__time {
  color: var(--foreground-subdued);
  font-size: 14px;
  line-height: 20px;
}

.current-article__socials {
  display: none;
  align-items: center;
  padding: 0;
  margin: 0 0 32px 0;
  list-style-type: none;
}

@media (min-width: 640px) {
  .current-article__socials {
    display: flex;
    margin-bottom: 0;
  }
}

.current-article__socials li + li {
  margin-left: 40px;
}

.current-article__socials a {
  color: var(--foreground-subdued);
}

.current-article_coverImage {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: calc(8 / 16 * 100%);
  background-color: var(--background-accent);
  order: -1;
}

@media (min-width: 640px) {
  .current-article_coverImage {
    margin-bottom: 0;
    order: 0;
  }
}

.current-article_coverImage img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.current-article__body {
  margin-bottom: 0;
}

@media (min-width: 640px) {
  .current-article__body {
    display: flex;
    margin-bottom: 24px;
  }
}

.current-article__bodyContent {
  padding-right: 0;
}

@media (min-width: 640px) {
  .current-article__bodyContent {
    padding-right: 200px;
  }
}

.current-article__body p {
  margin-bottom: 1.5rem;
  line-height: 1.75rem;
}

.current-article__bodySocials {
  display: none;
  position: sticky;
  top: 96px;
  align-items: center;
  margin: 0;
  padding: 16px;
  border: 1px solid var(--background-accent);
  list-style-type: none;
}

@media (min-width: 640px) {
  .current-article__bodySocials {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
  }
}

.current-article__bodySocials li + li {
  margin-top: 32px;
}

.current-article__bodySocials a {
  color: var(--foreground-subdued);
}

.current-article__bodySocials a:hover {
  color: var(--foreground-accent);
}

/* Error Page */
.error .container {
  padding: 240px 0;
}

@media (min-width: 640px) {
  .error .container {
    padding: 400px 0;
  }
}

.error h1 {
  margin: 0 64px 0 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: var(--family-serif);
}

@media (min-width: 640px) {
  .error h1 {
    font-size: 64px;
    line-height: 60px;
  }
}

.error p {
  line-height: 24px;
}

.error a {
  color: var(--foreground-accent);
}
