---
import MonospaceIcon from './icons/Monospace.astro'
---

<header>
  <nav class="container">
    <a href="/">
      <MonospaceIcon />
    </a>
    <span class="header__description">
      An example site powered by <span class="accent">Astro</span> and
      <span class="accent">Directus</span>.
    </span>
  </nav>
</header>