---
import Article from '../components/Article.astro'
const { articles } = Astro.props
---

<section class="more-articles">
  <div class="container">
    <h1 class="more-articles__title">More Articles</h1>
    {articles?.length !== 0 && (
    <div class="articles-grid">
      {articles.map((article, index) => (
      <Article article={article} bordered={index !==articles.length - 1} />
      ))}
    </div>
    )}
  </div>
</section>