<header>
  <nav class="container">
    <a href="/"> {% include 'partials/icons/monospace' %} </a>
    <span class="header__description">
      An example site powered by <span class="accent">Eleventy</span> and
      <span class="accent">Directus</span>.
    </span>
  </nav>
</header>
